<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>mychat</title>
    <link href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">
    <script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/socket.io-client/socket.io.js"></script>
    <script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/bower_components/angular/angular.min.js"></script>
    <script src="./assets/js/client.js"></script>
</head>
<body ng-app="chatRoom" ng-controller="chatCtrl">

<div class="chat-room-wrapper" ng-show="hasLogined">
    <div class="online panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">在线人数<span class="user-number">{{users.length-1}}</span></h3>
        </div>
        <div class="user-wrapper panel-body">
            <user iscurrentreceiver="receiver===user.nickname" info="user" ng-click="setReceiver(user.nickname)" ng-repeat="user in users"></user>
        </div>
    </div>
    <div class="chat-room panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">{{receiver?receiver:"Group-chat"}}</h3>
        </div>
        <div class="message-wrapper panel-body">
            <message self="nickname" scrolltothis="scrollToBottom()" info="message" ng-repeat="message in messages"></message>
        </div>
        <div class="panel-footer">
            <form class="post-form form-inline" novalidate name="postform" ng-submit="postMessage()">
                <input type="text" class="form-control" ng-model="words" placeholder="say something~~" required>
                <button type="submit" class="btn btn-success" ng-disabled="postform.$invalid">send</button>
            </form>
        </div>
    </div>
</div>

<div class="userform-wrapper"  ng-show="!hasLogined">
    <form class="form-inline login" novalidate name="userform" ng-submit="login()">
        <div class="form-group">
            <label for="nickname" class="sr-only"></label>
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                <input type="text" class="form-control" id="nickname" placeholder="your nickname" ng-model="nickname" required/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="userform.$invalid">enter</button>
        <p ng-show="userExisted" class="help-block">This nickname already exists!</p>

    </form>
</div>

</body>
</html>